* {
  box-sizing: border-box;
  
}

body {
  font-family: Arial;
  margin: 0;
  background: white;
}

H1 {
  font-family: "Times New Roman", Times, serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2.0;
}
 

.logo {
  background-color: #6c757d;
  padding: 5px;
  text-align: left;
}
  
/* Header */
header {
  padding: 20px;
  text-align: center;
  
   }
  
div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

div.gallery-item{
  margin-top: 40px;
  margin-left: 10px;
  border: 1px solid #ccc;
  width: 30%;
  border-radius: 12px;
  
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}




